/* AllCollection.css */

.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
    margin-left: 120px;
    max-width: 1200px;
}

.item {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.item img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin-bottom: 10px;
}

.item p {
    margin: 8px 0;
}

.item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-type {
    text-align:right; /* Ensures the type text is pushed to the right */
    font-weight: bold;
}
@media screen {
    
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.btn-show {
    border: none;
    background-color: aliceblue;
    color: black;
    margin-left: 50%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
