/* Heading.css */
@import '~@fortawesome/fontawesome-free/css/all.css';

.homeLinks ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
   font-size:33px;
  }
  .homeLinks{
    margin:20px;
}
.head{
  font-size: 73px;
  font-family: Arial, sans-serif;
  
}
.headingContainer p{
  font-size:31px;

}
.images img{
  width:300px!important;
  height:327px;
}
.search-bar{
  width:368px;
  height:50px;
}

.newCollection img {
  width: 200px; /* Adjust the width to your preference */
  padding-left:20px;
   /* Add margin between the images */
}

  
  .homeLinks ul li {
    margin-bottom: 10px;
  }
  
  .homeLinks a {
    color: black;
    text-decoration: none;
  }
  
  .homeLinks a:hover {
    text-decoration: underline;
  }
  
  .search-bar {
    margin: 20px 0;
    display: block;
    
  }
  
  .newCollection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the top */
    gap: 20px;
    margin:20px;
  }
  
  .headingContainer {
    display: flex;
    flex-direction: column;
  }
  
  .heading {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    margin: 0;
    text-align: left;
  }
  .home-btn{   
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 45px;
  }
  button {
   
   
  }
  
  button:hover {
   
  }
  